
body{
  font-family: 'Poppins', sans-serif;
  height:100%;
}
h1,h2,h3,h4,h5,h6{
font-family: inherit;
  font-weight: 700;
  }
html{
  z-index:0;
}
img {
  clip-path: circle(73.2% at 51% 23%);
  background-color: #2563EB;
  box-shadow: 0 1px 2px ;
}